/* Selector universal*/

*{
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta o tipo*/
body{
    background-color: white;
}

/* Selector de id*/
#contenedor {
    margin-top: 20px;
    width: 900px;
    height: 800px;
    background-color: white;
    border: 2px solid black;
}

#encabezado{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid black;
    text-align: center;
}

#menu{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

ul {
    text-align: center;
}

li {
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 5px 25px;
    color: black;
}

#contenido {
    height: 650px;
    width: 60%;
    border-style: dotted;
    margin: 0.5em;
    display: inline-block;
    text-align: center;
}

.img {
    width: 150px;
    height: 100px;
    border-radius: 30px;
    justify-items: center;  
}

.encabezado-articulo{
    padding: 10px;
    text-align: center;
    margin: 1em 1em;
    margin-left: -10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    margin-left: -65px;
    font-weight: 15px;
}

#fueraSeccion{
    height: 650px;
    width: 35%;
    display: inline-block;
    vertical-align: top;
    border-left: 2px solid black;
}

.img-fuera{
    
    width: 250px;
    height: 150px;
    border-radius: 30px;
    justify-items: center;  
}

.encabezado-aside{
    text-align: center;
    color: black;
    margin: 1em 1em;
}

.lista-aside{
    align-content: flex;
    padding: 2px;
}

#pie{
    margin-left: -2px;
    padding-top: 10px;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-right: -1px;
}

#pie h4{
    padding: 10px;
    font-size: 20px;
}

